[hider="hide-element"],
#hider,
.hider {
  opacity: 0 !important;
  z-index: -100000 !important;
  pointer-events: none !important;
  height: 0px !important;
  color: transparent !important;
  background-color: transparent !important;
}
