@font-face {
  src: url('../Google/Sansation_Light.ttf');
  format: ('truetype');
  font-family: "sansationlight";
 }
*{
  font-family: sansationlight;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
section{
  position: relative;
  height: 100vh;
  width: 100%;
  background: radial-gradient(#0cb0da,white);
  cursor: url('./img/pointer.png'), pointer;
}
h2{
  position: absolute;
  top: 8px;
  left: 6px;
  color: #B5096A;
  font-weight: bolder;
}
.circle {
  position: relative;
  padding-top: 50px;
  height: 300px;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.circle .circle-1 {
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(500px) rotateX(-40deg);
  transform-style: preserve-3d;

}
.circle .circle-2 {
  position: absolute;
  height: 120px;
  width: 120px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .circle-3 {
  position: absolute;
  height: 90px;
  width: 90px;
  background-color: #01d6e4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .circle-4 {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .circle-5 {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dotted blueviolet;
}
.circle img {
  position: absolute;
  bottom: 10px;
  transform: perspective(500px) rotateX(-60deg);
  transform-style: preserve-3d;
}
.circle .ground {
  background-color: rgb(41, 153, 41);
  height: 100px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  transform: perspective(500px) rotateX(80deg);
  transform-style: preserve-3d;
}
.arrow {
  font-size: 40px;
  transform: perspective(500px) rotateX(53deg) skewX(358deg) translate(-10px,-10px);
  transform-style: preserve-3d;
  position: absolute;
  color: rgb(146, 18, 18);
  transition: all 0.5s linear;
}

/* @keyframes animate {
  0%{
    top: 400px;
  }
  100%{
    top: 100px;
  }
} */