@font-face {
  src: url('../Google/Sansation_Light.ttf');
  format: ('truetype');
  font-family: "sansationlight";
 }
*{
  font-family: sansationlight;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
}
section{
  position: relative;
  height: 100vh;
  width: 100%;
  background: radial-gradient(#0cb0da,white);
  cursor: url('./img/pointer.png'), pointer;
}
h2{
  position: absolute;
  top: 8px;
  left: 6px;
  color: #B5096A;
  font-weight: bolder;
}
.circle {
  position: relative;
  padding-top: 50px;
  height: 300px;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.circle .circle-1 {
  height: 250px;
  width: 250px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .circle-2 {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .circle-3 {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #01d6e4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .circle-4 {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle .circle-5 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dotted blueviolet;
}
.circle img {
  position: absolute;
  bottom: -140px;
}