*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.lighttheme{
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  transition:background-color 1s ease-in-out;
  transition:color 1s ease-in-out;
}
.darktheme #systeminput{
  background-color: #303030;
  color: #EFEFEF;
}
.darktheme .systemheader{
  background-color: #666666;
}
.darktheme .fa-adjust {
  color: white;
  transform: rotateY(180deg);
  font-size: 23px
}
.darktheme .fa-clipboard {
  color: white;
}
.darktheme .fa-ellipsis-v{
  color: white;
}
.darktheme .fa-expand {
  color: white;
}
.darktheme .fa-compress {
  color: white;
}
.darktheme #togglebtni {
  color: black;
}
.darktheme ::-webkit-scrollbar-track {
  background-color: #171717;
}
.systemnavbar{
  display: none;
  position: absolute;
  top: 100px;
  right: 0;
  height: 50vh;
  width: 70%;
  background-color: white;
}
.navbaritems{
  color: black;
  box-sizing: border-box;
  background-color: #E7E7E7;
  width: 100%;
  padding: 10px;
}
.systeminputcont{
  height: 50vh;
  width: 100%;
  font-family: courier;
  display: flex;
  flex-direction: column;
}
.systemheader {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 45px;
  background-color: #C8C8C8;
  transition: 1s ease-in-out;
  overflow: visible;
}
.tooltip {
  align-items: center;
  justify-content: center;
  display: flex;
  transform: translateY(8px);
  flex-direction: column;
  width: 25vh;
  overflow: visible;
  margin: 0;
  padding: 0;
}
.systembtn {
  background-color: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: visible;
}
.tooltiptext {
  text-align: center;
  opacity: 0;
  background-color: #C8C8C8;
  font-size: 15px;
  padding: 7px;
  font-family: sans-serif;
  border-radius: 10px;
  margin: 0;
  overflow: visible;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.fa-clipboard,.fa-adjust,.fa-expand,.fa-compress{
  transition: 1s ease-in-out;
  font-size: 23px;
  color: black;
}
#exitfullscreenbtn{
  display: none;
}
#systeminput {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #FCFCFC;
  color: #343434;
  font-size: 16px;
  resize: none;
  border: 2px solid #9F9FA0;
  font-family: "Courier New",courier;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 1s ease-in-out;
}
#systeminput::placeholder{
  font-size: 20px;
}
.systemresultbox{
  height: 50vh;
  width: 100%;
  border: 3px solid #484848;
  position: relative;
  background-color: white;
} 
.systemresultbox2{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  border: 3px solid #484848;
}
.togglebtn{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.systemiframe{
  width: 100%;
  height: 100%;
  border: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border: 1px solid #888;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
@media screen and (min-width:580px) {
.lighttheme{
  flex-direction: row;
 }
.systeminputcont{
  height: 100vh;
  width: 50%;
}
.systemresultbox{
  height: 100vh;
  width: 50%;
}
.systemresultbox2 {
  height: 100vh;
  width: 100%;
}
}