*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.contbox{
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
.systeminputcont{
  height: 50vh;
  width: 100%;
  font-family: courier;
  display: flex;
  flex-direction: column;
}
.systemheader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #C8C8C8;
  transition: 0.4s ease-in-out;
}
.systembtn{
  background-color: #C8C8C8;
  border: none;
  outline: none;
  margin: 15px;
}
.fa-clipboard,.fa-adjust{
  font-size: 25px;
  color: black;
}
#systeminput {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #333333;
  color: #DADADA;
  font-size: 16px;
  resize: none;
  border: 2px solid #9F9FA0;
  font-family: courier;
  font-weight: bold;
  overflow-y: scroll;
  overflow-x: hidden;
}
#systeminput::placeholder{
  font-size: 20px;
}
.systemresultbox{
  height: 50vh;
  width: 100%;
  border: 6px solid #484848;
} 
.systemiframe{
  width: 100%;
  height: 100%;
  border: none;
  overflow-y: scroll;
}
.tooltip {
  display: block;
  text-align: center;
  transform: translateY(14px)
}
.tooltiptext {
  opacity: 0;
  background-color: #C8C8C8;
  font-size: 15px;
  padding: 7px;
  font-family: sans-serif;
  border-radius: 10px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width:480px) {
.contbox{
  flex-direction: row;
 }
.systeminputcont{
  height: 100vh;
  width: 50%;
}
.systemresultbox{
  height: 100vh;
  width: 50%;
}
}