@font-face{
  src:url('Sansation_Light.ttf');
  format:('truetype');
  font-family: "sansationlight";
}
body {
  font-family: "sansationlight";
  color: navy;
  margin: 0;
  padding: 0;
}
.logo :hover{
  animation: movelogo 1s;
  
}
h1 {
  font-size: 35px;
  color: orangered;
  text-align: center;
  padding-top: 9px;
  margin: 0;
  font-weight: bold;
}

.load{
  position: fixed;
  top: 55%;
  left: 45%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-bottom: 2px solid #ff6663;
  border-top: 3px solid #ff6660;
  border-left: 3px solid #ff6663;
  animation: rotatediv 1s linear infinite forwards;
  z-index: 5;
}
@keyframes rotatediv {
 0%{transform: rotate(0deg);
  }
  100%{transform: rotate(360deg);
  }
}


#h2 {
  font-size: 12px;
  color: orangered ;

  text-align: right;
  padding-right: 10px;
  padding-top: 9px;
  margin: 0;
}

#h21{ font-weight: bold;
text-decoration: underline;
text-align: center;
  
}

button{
  font-family: "sansationlight"
}
  .dropbutton {
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 13px;
    height: 40px
  }

  .dropdown {
    position: relative;
    display: inline-block;
}
  .dropdowncontent {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 3;
    }


    .dropdowncontent a {
      color: orangered;
      padding: 12px 16px;
      text-decoration: none;
      display: inline-block;
    }

    .dropdowncontent a:hover {
      background-color: #ddd;
    }

    .dropdown:hover .dropdowncontent  {
      display: block;
    }

    .dropdown:hover .dropbutton {
      background-color: white;
      color: navy;
      border: 5px solid navy;
      font-weight: bold;
    }
 
  .ul {
     display:block;
     position: sticky;
     top:0;
     margin:0;
     padding:0px;
     overflow:auto;
     white-space: nowrap;
     z-index:2;
 }
 
 .ul a {
       background-color: #CFD0E2;
       text-align: center;
       margin: 7px;
       margin-top: 3px;
       padding: 13px;
       display:inline-block;
       text-decoration: none;
       font-size: 10px;
       border-radius:40px 40px;
  height: 13px;
 }
 .ul a:hover{
      background-color: orangered;
      color: navy;
 }
 .ul a:active{
   background-color: orangered;
   color: navy
 }
    

    p {
      text-align: center;
    }

   #myBtn {
      display: none;
      position: fixed;
      bottom: 10px;
      right: 5px;
      z-index: 4;
      font-size: 20px;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 12px;
      border-radius: 5px 10px 15px;
      background-color: orangered;
      text-align: center;
      opacity: 0.5;
    }

    .mybutton {
      background-color: navy;
      color: white;
      padding: 10px 5px 10px 5px;
      border: none;
      text-align: center;
      }
      .mybuttoncenter{
        justify-content: center; display: flex;
      }

    .container {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-top: 56.25%;
      /* 16:9 Aspect Ratio */
    }

    .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none;
      
    }


 
   

    .mybutton:hover {
      background-color: white;
      color: navy;
      border: 5px solid navy;
      font-weight: bold
    }

    .tophead {
      background: floralwhite;
      height: 70px;
      padding-top: 0;
      margin-top: 0;
      border-bottom: 2px solid navy;
    }