*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.lighttheme {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  transition:background-color 1s ease-in-out;
  transition:color 1s ease-in-out;
}
.darktheme {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  transition:background-color 1s ease-in-out;
  transition:color 1s ease-in-out;
}
.darktheme .systemheader {
  background-color: #333333;
}
.darktheme .inputcontrols>div {
  color: white;
}
.darktheme .systemnavbtn>i{
  color: white;
}
.darktheme textarea {
  background-color: #1E1E1E;
  color: white;
}
.darktheme .systemnavbar {
  background-color: #333333;
  color: white;
}
.darktheme .tooltip {
  border-bottom: 1px solid white;
}
.darktheme .fa-adjust {
  color: white;
  transform: rotateY(180deg);
  font-size: 18px
}
.darktheme .fa-clipboard {
  color: white;
}
.darktheme .fa-ellipsis-v{
  color: white;
}
.darktheme .fa-expand {
  color: white;
}
.darktheme .fa-compress {
  color: white;
}
.darktheme .fa-text-height {
  color: white;
}
.darktheme #togglebtni {
  color: black;
}
.darktheme ::-webkit-scrollbar-track {
  background-color: #171717;
}
.systeminputcont{
  height: 50vh;
  width: 100%;
  font-family: courier;
  display: flex;
  flex-direction: column;
  position: relative;
}
.systemheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #B5B5B5;
}

.inputcontrols {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
  width: 75%;
}
.swiftbtn {
  text-align: center;
  padding: 8px;
  margin-left: 4px;
  width: 100%;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10.0px);
  -webkit-backdrop-filter: blur(10.0px);
  border-radius: 3px;
}
.swiftbtn2 {
  padding: 6.5px;
  box-sizing: border-box;
  border-bottom: 3px solid white;
  background: rgba( 255, 255, 255, 0.35 );
}
.systemnavbtn {
  text-align: center;
  min-width: 10%;
}
.systemnavbtn>i {
  font-size: 25px;
}
textarea {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
  color: #343434;
  font-size: 15px;
  resize: none;
  font-family: "Courier New",courier;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  border: none;
}
#styleinput,#scriptinput {
  display: none;
}
textarea::placeholder{
  font-size: 15px;
}
textarea::-webkit-scrollbar {
  width: 5px;
}
textarea::-webkit-scrollbar-track {
  border-left: 1px solid #888;
}
textarea::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}
.runbtn {
  position: absolute;
  bottom: 7px;
  right: 10px;
  padding: 10px;
  background-color: #C8C8C8;
  color: #2D2D2D;
  border-radius: 10px;
  font-weight: bold;
  opacity: 0.5;
}
.runbtn:hover {
  opacity: 1;
}
.systemnavbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  height: 40%;
  right: 10px;
  width: 50%;
  background-color: #B5B5B5;
  transition: 1s ease-in-out;
  overflow-y: auto;
  z-index: 1;
  border-radius: 5px;
}
.tooltip {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid black;
}
.tooltip:hover {
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10.0px);
}
#settings {
  color: black;
  background-color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  padding: 5px;
  width: 100%;
}
.systembtn {
  background-color: none;
  border: none;
  outline: none;
  text-align: center;
  min-width: 30px;
}
#exitfullscreenbtn {
  display: none;
}
.tooltiptext {
  margin-left: 10px;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}
.fa-clipboard,.fa-adjust,.fa-expand,.fa-compress,.fa-ellipsis-v,.fa-text-height{
  transition: 1s ease-in-out;
  font-size: 18px;
  color: black;
}
.extracont {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  background-color: rgba(0 ,0 ,0 , 0.8);
  z-index: 3;
}
.extratool {
  display: none;
}
#copytool,#font-tool {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  width: 70%;
  padding: 20px;
}
.systemresultbox{
  height: 50vh;
  width: 100%;
  border: 3px solid #484848;
  position: relative;
  background-color: white;
} 
.systemresultbox2{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  border: 3px solid #484848;
  z-index: 2;
}
.togglebtn{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: white;
  opacity: 0.5;
}
.systemiframe{
  width: 100%;
  height: 100%;
  border: none;
}
.rangecont {
  width: 100%;
}
#livecont {
  font-family: sans-serif;
  font-size: 15px;
}
#font-input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
}
#font-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 0;
  background-color: black;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border: 0;
  background-color: black;
  cursor: pointer;
  border-radius: 50%;
  }
  #systemlivebtn {
    position: relative;
    display: inline-block;
    height: 19px;
  }
  #liveprev {
    width: 0px;
    height: 0px;
  }
  .theball {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9E9FA0;
    transition: 0.4s;
    width: 30px;
    height: 18px;
    border-radius: 30px;
  }
  .theball:before {
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #7D7D7D;
    transition: 0.4s;
  }
  #liveprev:checked ~ .theball {
    background-color: #3A9EFF;
  }
  #liveprev:checked ~ .theball:before {
    background-color: white;
    -webkit-transform: translateX(12px);
    -moz-transform: translateX(12px);
    transform: translateX(12px);
  }
@media screen and (min-width:580px) {
.darktheme,.lighttheme {
  flex-direction: row;
 }
.systeminputcont,.systemresultbox{
  height: 100vh;
  width: 50%;
}
.systemresultbox2 {
  z-index: 2;
  height: 100vh;
  width: 100%;
}
.systemnavbar {
  width: 25%;
  right: 50%;
}
}