*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.lighttheme , .darktheme {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  transition:background-color 1s ease-in-out;
  transition:color 1s ease-in-out;
}
.darktheme .inputcontrols>div , .darktheme .systemnavbtn>i , .darktheme .icon{
  color: white;
}
.darktheme .swiftbtn {
  background: rgba(255, 255, 255, 0.15);
}
.darktheme #runbtn:hover , .darktheme .tooltip:hover , .darktheme .swiftbtn2 {
  background: rgba(255, 255, 255, 0.35);
}
.darktheme textarea {
  background-color: #1E1E1E;
  color: white;
}
.darktheme .systemnavbar , .darktheme .systemheader , .darktheme .extratool {
  background-color: #333333;
  color: white;
}
.darktheme .extratool {
  border: 1px solid white;
}
.darktheme .tooltip {
  border-bottom: 1px solid white;
}
.darktheme .fa-adjust {
  color: white;
  transform: rotateY(180deg);
  font-size: 18px;
}
.darktheme #togglebtni , .darktheme #settings {
  color: black;
}
.darktheme textarea::-webkit-scrollbar-thumb {
  background-color: white;
}
.darktheme #font-input{
  background-color: #d3d3d3;
}
.darktheme #font-input::-webkit-slider-thumb {
  background-color: white;
  border: 2px solid white;
}
.systeminputcont{
  height: 100%;
  width: 100%;
  font-family: courier;
  display: flex;
  flex-direction: column;
  position: relative;
}
.systemheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: #B5B5B5;
}
.inputcontrols {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: sans-serif;
}
.swiftbtn {
  text-align: center;
  padding: 10px;
  margin-left: 4px;
  width: 100%;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(10.0px);
  -webkit-backdrop-filter: blur(10.0px);
  border-radius: 3px;
}
.swiftbtn2 {
  padding: 8px;
  box-sizing: border-box;
  border-bottom: 3px solid white;
  background: rgba(0, 0, 0, 0.45);
  animation: clickeffct 0.4s linear;
}
@keyframes clickeffct {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
#scriptswift {
  margin-right: 10px;
}
#runbtn:hover {
  background: rgba(0, 0, 0, 0.45);
}
.systemnavbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px;
}
.systemnavbtn>i {
  font-size: 28px;
}
textarea {
  outline: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: white;
  color: #343434;
  font-size: 15px;
  resize: none;
  font-family: "Courier New",courier;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  border: none;
}
#styleinput,#scriptinput,#resultoutput {
  display: none;
}
textarea::placeholder{
  font-size: 15px;
}
textarea::-webkit-scrollbar {
  width: 5px;
}
textarea::-webkit-scrollbar-track {
  border-left: 1px solid #888;
}
textarea::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}
.systemresultbox{
  height: 100%;
  width: 100%;
  border: 3px solid #484848;
  position: relative;
  background-color: white;
} 
.systemresultbox2{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  border: 3px solid #484848;
  z-index: 2;
}
.systemiframe{
  width: 100%;
  height: 100%;
  border: none;
}
.togglebtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: white;
  opacity: 0.5;
}
.systemnavbar {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 55px;
  max-height: 60%;
  right: 10px;
  width: 50%;
  background-color: #B5B5B5;
  transition: 1s ease-in-out;
  overflow-y: auto;
  z-index: 1;
  border-radius: 5px;
}
.tooltip {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid black;
}
.tooltip:hover {
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(10.0px);
}
#settings {
  background-color: #F4F4F4;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
  padding: 5px;
  width: 100%;
}
.systembtn {
  background-color: none;
  border: none;
  outline: none;
  text-align: center;
  min-width: 30px;
}
#exitfullscreenbtn {
  display: none;
}
#livecont {
  font-family: sans-serif;
  font-size: 15px;
}
#systemlivebtn {
  position: relative;
  display: inline-block;
  height: 19px;
}
#liveprev {
  width: 0px;
  height: 0px;
}
.theball {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9E9FA0;
  transition: 0.4s;
  width: 30px;
  height: 18px;
  border-radius: 30px;
}
.theball:before {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #7D7D7D;
  transition: 0.4s;
}
#liveprev:checked ~ .theball {
    background-color: #3A9EFF;
  }
#liveprev:checked~.theball:before {
  background-color: white;
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px);
}
.tooltiptext {
  margin-left: 10px;
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}
.icon {
  transition: 1s ease-in-out;
  font-size: 18px;
  color: black;
}
.extracont {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  background-color: rgba(0 ,0 ,0 , 0.8);
  z-index: 3;
}
.extratool {
  display: none;
  background-color: #B5B5B5;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 70%;
  border-radius: 5px;
}
#font-tool {
  padding: 20px;
}
.rangecont {
  width: 100%;
}
#font-input {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #717171;
  outline: none;
  opacity: 1;
}
#font-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 50%;
  }
@media screen and (min-width:580px) {
.darktheme,.lighttheme {
  flex-direction: row;
 }
.systemnavbar {
  width: 25%;
  right: 50%;
  margin-right: 10px;
}
}