body{
  text-align: center;
}
*{
  font-family:Sansation;
}
.box{
  border:2px solid #757777;
  border-radius:10px;
  margin:5px;
}
.h1{
  font-size: 25px;
  padding: 25px;
}
input[type=text]{
  margin:0;
  padding:15px;
  padding-left:10px;
  padding-right:4px;
  width:75%;
  border:2px solid #868686;
  font-size:20px;
  border-radius:0px 5px 5px 0px;
  box-sizing:border-box;
}
input[type=text]:focus{
  border:2px solid #808BFF;
  outline:none;
}
.p{
  padding:10px;
  font-size:20px;
  font-weight:bold; 
}
.reset{
  padding:15px;
  width: 90%;
  margin:20px;
  margin-top:5px;
  border:1px solid #585858;
  border-radius :5px;
  outline: none;
  background-color :#D7D7D7;
  font-size:20px;
}
.reset:hover{
  background-color :#808BFF;
  color: white;
}
.reset1{
  display: flex;
  justify-content: flex-start;
  padding:5px;
  margin-left:20px;
  margin-bottom:20px;
  margin-top:5px;
  border:1px solid #585858;
  border-radius :5px;
  outline: none;
  background-color :#D7D7D7;
  font-size:20px;
}
.reset1:hover{
  background-color:#808BFF;
  color: white;
  
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  padding-top: 10px;
  position: relative;
  animation: logomove 0.7s ease-in-out infinite forwards;
}
img.SIGNUPLOGO {
  width: 20%;
  border-radius: 50%;
}
.imgcontainer:hover{
  animation: logo 0.7s ease-in-out infinite forwards;
}
@keyframes logomove {
  0% {
    transform: translateY(5px)
  }
  50%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(5px);
  }
}
.p1{
  font-size:30px;
  color:black;
  margin-left:0px;
  padding-left:0;
  padding-top:20px;
  margin:0;
  opacity:1;
}
.loading {
  position: fixed;
  left: 45%;
  top: 100px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 4px solid #D0D0D0;
  border-top: 4px solid red;
  border-left: 4px solid #FF5660;
  border-bottom: 4px solid #FAA9AD;
  animation:rotatediv 1s linear infinite forwards;
}
@keyframes rotatediv {
  0%{transform:rotate(0deg)
  }
  100%{
  transform:rotate(360deg)
}
}
.user{
  width:18px;
  height:21px;
  margin-top:5px;
  margin-right: 10px;
  margin-left:10px;
  padding: 10px;
  border:2px solid black ;
}
.user:hover {
  background-color: #686868;
  animation: logomove 0.7s ease-in-out forwards;
}
.container {
  display: flex;
  justify-content: flex-start;
  margin:0px;
  padding: 0px;
}
@media screen and (min-width:500px) {
input[type=text]{
  width: 84%;
}
}